html,
body {
    height: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #915e12;
}

.sticky-note-head {
    position: relative;
    width: 150px;
    height: 25px;
    background-color: #e0c77d;
}

.sticky-note-body {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 130px;
    margin-left: 12px;
    transform: skew(10deg);
    background-color: #c7af68;
    box-shadow: -10px 8px;
    transition-duration: 500ms;
}

.sticky-note-body:hover {
    display: inline-block;
    transform: skew(0deg);
    box-shadow: 0px 0px;
    margin: 0px;
}

.sticky-note-body img {
    position: relative;
    display: block;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    width: 130px;
    height: 110px;
    object-fit: cover;
}

.book {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    width: 730px;
    height: 550px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.b26cVLmDby3Bqv-y39rvVgHaFi%26pid%3DApi&f=1&ipt=4b0b7b2c65390e12be32a3e948a77550dd02b272fdc84e8839555f8ba029b49c&ipo=images");
    background-repeat: no-repeat;
    background-size:contain;
}

.text{
    rotate: -3deg;
}

.sticky-note{
transform: scale(0.8);
rotate: -5deg;
position: relative;
left: 100px;
}

p{
    right: 573px;
    top: 160px;
}